<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.udinus.appoinmentapps">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RecycleView"></activity>
        <activity android:name=".MakeSchedule" />
        <activity android:name=".ScheduleHistory" />
        <activity android:name=".SuksesReset" />
        <activity android:name=".ResetPassword" />
        <activity android:name=".ResetCode" />
        <activity android:name=".LupaPassword" />
        <activity android:name=".About" />
        <activity android:name=".Welcome" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>